html
{
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAO0lEQVQYlY3Kxw0AIAwEQfffgbu7TpYXiOCA5jsmeo5jP0mojjOVcU9pvFMYo/TELB2xSit2SQj7SUIMPb1wvK53uBUAAAAASUVORK5CYII=") repeat;
}

body
{
	position:absolute;
	
	height: calc(100% - 128px);
	min-height: calc(100% - 128px);
	min-width: 100%;
	
	margin: 0;
	margin-bottom: 128px;
	
	background: -moz-linear-gradient(top,  rgba(0,17,255,0.15) 0%, rgba(255,255,255,0) 600px);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,17,255,0.15)), color-stop(600px,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(0,17,255,0.15) 0%,rgba(255,255,255,0) 600px);
	background: -o-linear-gradient(top,  rgba(0,17,255,0.15) 0%,rgba(255,255,255,0) 600px);
	background: -ms-linear-gradient(top,  rgba(0,17,255,0.15) 0%,rgba(255,255,255,0) 600px);
	background: linear-gradient(to bottom,  rgba(0,17,255,0.15) 0%,rgba(255,255,255,0) 600px);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#260011ff', endColorstr='#00ffffff',GradientType=0 );
}

div
{
	position: relative;
}

#footer
{
	width: 100%;
	height: 128px;
	
	text-align: center;
	
	background-color: #88ADC2;
	
	padding-top: 24px;
	
	box-shadow: 0px 0px 15px -5px #000000;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#footer > p
{
	font-size: 12px;
	color: white;
	margin-top: 8px;
}

#footer > p > a
{
	color: #D0346F;
}

#container
{
	min-height: 100%;
	width: 1000px;
	max-width: calc(100% - 48px);
	
	margin: 0 auto;
	
	box-shadow: 0px 0px 15px -5px #000000;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	overflow: hidden;
	
	background-color: white;
}

#container > div
{
	width: 100%;
}

.header
{
	height: 100px;
	
	background-color: #88ADC2;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.header > div
{
	float: left;
	height: 100%;
}

.header > .logo
{
	width: 200px;
	background-image: url("/static/img/logo.png");
}

.header > .slogan
{
	width: calc(100% - 200px);
}

.header > .slogan > span
{
	position: absolute;
	left: 8px;
	bottom: 8px;
}

.content
{
}

.content > div
{
	float: left;
	min-height: 12px;
	
	padding-bottom: 10000px !important;
	margin-bottom: -10000px !important;
}

.content > .sidebar
{
	width: 200px;
	
	font-size: 14px;
	
	background-color: #99D89D;
}

.content > .sidebar a
{
	color: black;
}

.content > .sidebar hr
{
	border-color: #C3E5C3;
}

.content > .sidebar > div
{
	width: 100%;
	
	padding: 12px;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.content > .sidebar > div > h1
{
	font-size: 18px;
	font-family: 'Earthbound'; 
}

.content > .sidebar > .login_area
{
	height: 200px;
	line-height: 1.4em;
	
	border-bottom: thin solid #C3E5C3;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.content > .sidebar > .login_area > form > input
{
	width: 100%;
}

.content > .sidebar > .login_area > form > input:focus
{
	color: #006000;
}

.content > .sidebar > .login_area > form > input[type="email"],
.content > .sidebar > .login_area > form > input[type="password"]
{
	padding: 4px;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.content > .sidebar > .stations_area
{
	line-height: 1.2em;
}

.content > .sidebar > .stations_area > .station_icon
{
	height: 24px;
}

.content > .main_content
{
	width: calc(100% - 200px);
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#hidden
{
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
	top: -100px;
	left: -100px;
}

#screen
{
	opacity: 0;
	background-color: rgba(0,0,0,0.4);
	
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	
	pointer-events: none;
	
	padding: 40px;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#screen.show
{
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
	
	-webkit-animation-name: fade_in;
	-moz-animation-name: fade_in;
	-o-animation-name: fade_in;
	animation-name: fade_in;
	
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	
	pointer-events: auto !important;
}

#screen.hide
{
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
	
	-webkit-animation-name: fade_out;
	-moz-animation-name: fade_out;
	-o-animation-name: fade_out;
	animation-name: fade_out;
	
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	
	pointer-events: none;
}

@keyframes fade_in
{
	from
	{
		opacity: 0;
	}
	
	to
	{
		opacity: 1;
	}
}

@keyframes fade_out
{
	from
	{
		opacity: 1;
	}
	
	to
	{
		opacity: 0;
	}
}

@-webkit-keyframes fade_in
{
	from
	{
		opacity: 0;
	}
	
	to
	{
		opacity: 1;
	}
}

@-webkit-keyframes fade_out
{
	from
	{
		opacity: 1;
	}
	
	to
	{
		opacity: 0;
	}
}

@-moz-keyframes fade_in
{
	from
	{
		opacity: 0;
	}
	
	to
	{
		opacity: 1;
	}
}

@-moz-keyframes fade_out
{
	from
	{
		opacity: 1;
	}
	
	to
	{
		opacity: 0;
	}
}

@-o-keyframes fade_in
{
	from
	{
		opacity: 0;
	}
	
	to
	{
		opacity: 1;
	}
}

@-o-keyframes fade_out
{
	from
	{
		opacity: 1;
	}
	
	to
	{
		opacity: 0;
	}
}
