.home
{
	text-align: center;
	width: 100%;
	padding: 24px;
	
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.home > img
{
	height: 300px;
	max-width: 100%;
}

.home > p
{
	margin-top: 24px;
	font-size: 14px;
	line-height: 1.2em;
}
